@media (max-width:1440px){
    main .img-container {
        margin: 60px !important;
    }
    main > * {
        width: calc(100vw / 4) !important;
    }
}

@media (max-width:1024px){
    main .img-container {
        margin: 60px !important;
    }
    main > * {
        width: 30% !important;
    }
    main {
        margin: 0;
    }
}

@media (max-width:768px){
    main .img-container {
        margin: 50px !important;
    }
    main > * {
        width: 30% !important;
    }
    main .img{
        padding: 0 !important;
        max-width:  calc(350px * (3/4));
        max-height: calc(200px * (3/4));
    }
    main .img-title{
        padding-top: 20px !important;
    }
}
@media (max-width:425px){
    main {
        margin: 0 !important;
    }
    main .img-container {
        margin: 35px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        display: block;
    }
    main .img-description {
        width: 100%;
    }
    main > * {
        width: 100% !important;
    }
    header{
        font-size: 0.8em !important;
    }
    main .img-title{
        padding-top: 35px !important;
    }
}

@media (max-width:320px) {
    main .img-description{
        line-height: initial !important;
    }
}
html{
    overflow-x: hidden;
}

nav {
    display: block;
    padding: 0;
    width: 100% !important;
}

nav ul {
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto;
    grid-template-rows: 60px;
}

nav ul .welcome {
    justify-self: start;
}

nav ul .logout {
    justify-self: end;
}

nav ul li {
    display: inline-block;
}

header {
    margin-bottom: 100px;
}

footer{
    position: fixed;
}

main{
    margin-left: -30px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 30px;
    max-width: 100%;
    min-width: 100%;
}

main > * {
    width: calc(100vw / 5);
    margin-bottom: 10px;
}

body{
    display: grid;
    grid-template-rows:60px 200px 1fr 60px;
    grid-template-columns: 100%;
    grid-template-areas: "nav"
                         "header"
                         "main"
                         "footer";
    justify-items: center;
    height: 100%;
}

nav {
    grid-area: nav;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

main .img-title{
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    margin: 0 auto;
    font-size: 1.6em;
}

main .img-container {
    margin: 30px;
    text-align: center;
}

main .img-description{
    text-align: justify;
    font-weight: 400;
    font-family: sans-serif;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.7em;
}

main .img-container .img {
    margin: 0 auto;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
